default: &default
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  host: localhost

development:
  database: __DB__
  username: __USER__
  password: __PASSWORD__  
  <<: *default

test:
  <<: *default

production:
  <<: *default
