<h1>Company#index</h1>

<table>
  <tr>
    <th>companyName</th>
    <th>createdBy</th>
  </tr>
 
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.companyName %></td>
      <td><%= company.createdBy %></td>
     
    </tr>
  <% end %>
</table>
