<h1>Ссылки для контролера profile:</h1>
<div>
	<%= link_to 'profile#index', profile_index_path%>
	<br/>
	<%= link_to 'profile#desire', profile_desire_path%>
	<br/>
</div>
<h1>Ссылки для контролера company:</h1>
<div>
  <%= link_to 'company#index', company_index_path%>
  <br/>
  <%= link_to 'company#create', company_create_path%>
  <br/>

</div>
<h1>Ссылки для контролера schedule_your_department:</h1>
<div>
  

</div>
