<h1>Profile#desire</h1>
<%= bootstrap_form_for :desire , url: profile_new_path do |f| %>
    <p>
      
      <%= f.select :cause, ['paid vacation', 'unpaid vacation'] %>

    </p>
    <p>
      
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>