Have a nice dinner
<div> <%= link_to raw("<span><button type='button' class='btn btn-info'>Stop Dinner</button></span>"), profile_comeDinner_path%></button> </div>
<%$dinner_flag=true%>
<%=$dinner_flag%>
