<h1>Profile:</h1>
    <% if $flag %>
        <%= link_to raw("<span><button type='button' class='btn btn-primary'>Come</button></span>"), profile_comeButton_path%>
    <% else %>

        <%= link_to raw("<span><button type='button' class='btn btn-danger'>Out</button></span>"), profile_outButton_path%></button>
    <% end%>

