<h1>Profile:</h1>
    <% if $flag %>
        <button type="button" class="btn btn-success"><%= link_to 'Come', profile_comeButton_path%></button>
    <% else %>

        <button type="button" class="btn btn-danger"><%= link_to 'Out', profile_outButton_path%></button>
    <% end%>




